/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("http://unsplash.it/1499/1000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.time {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1px;
  box-shadow: 2px 2px 6px yellow;
  padding: 12px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  font-family: sans-serif;
  color: white;
  background-color: red;
  padding: 8px 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(255, 255, 255);
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  margin-top: 1px;
  color: rgb(255, 255, 255);
  padding: 12px;
}

h2 span {
  margin-top: 10%;
  background-color: blue;
  color: yellow;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.979);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.979);
  letter-spacing: 4px;
}

h2 span:hover {
  background-color: yellow;
  color: blue;
}

a:hover {
  background-color: #fff;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.timer div {
  margin-bottom: 5px;
}

.timer label {
  margin-right: 5px;
}

.status {
  text-align: center;
}
